.photo_list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.photo_item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.photo_item img {
  max-width: 100%;
  height: auto;
}

.photo_item p {
  margin-top: 10px;
  font-size: 14px;
}
